.modebar-container, .dash-debug-menu, .dash-debug-menu__outer, .dash-debug-menu__outer--closed, .dash-debug-menu__content, .dash-debug-menu__outer--closed, .dash-debug-alert-label {
  visibility: hidden;
}

.dash-graph {
  margin-top: -60px;
  margin-bottom: -25px;
}

.main-svg {
  background: none!Important;
}

.svg-container {
  font-family: 'Ruda', sans-serif;
}

.draglayer {
  margin-right: -30px;
}

.texto {
  text-align: justify;
}

.icono {
  height: 90px;
  float: left;
}

.tarjetas {
  height: 120px;
  padding: 10px;
  border: 5px solid #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.etiqueta {
  font-family: 'Ruda', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: -15px;
  float: left;
  margin-left: 45px;
}

.descripcion {
  text-align: center;
  font-size: 15px;
}

.cell-table {
  margin: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 40px;
}

.tbody {
  margin-top: 80px;
}

.tablas {
  font-family: 'Ruda', sans-serif!Important;
  text-align: center;
  font-size: 15px;
}

.color_01 {
  color:#000;
  background-color: #7FDBDA;
}

.color_02 {
  color:#000;
  background-color: #ADE498;
}

.color_03 {
  color:#000;
  background-color: #EDE682;
}

.color_04 {
  color:#000;
  background-color: #FEBF63;
}

.color_05 {
  color:#000;
  background-color: #dff4f3;
}

.color_06 {
  color:#000;
  background-color: #bde4f4;
}

.color_07 {
  color:#000;
  background-color: #b9bbdf;
}

.color_08 {
  color:#000;
  background-color: #fffbe0;
}

.background_img {
  width:100%;
  height:800;
  margin-bottom: 30px;
  padding: 0px;
}

.team_img {
  width:100%;
}

.grayscale {
  filter: grayscale(50%);
  font-family: 'Ruda', sans-serif!Important;
  text-align: justify;
}

.opacity {
  opacity: 0.60;
}

.about_text {
  text-align: justify;
  font-size: 15px;
  padding: 5px 0px 15px 0px;
}

.contact {
  font-family: 'Ruda', sans-serif!Important;
  text-align: center;
  color: #fff;
  background-color: #124188;
  padding: 10px 60px 10px 60px;
  margin-bottom: 10px;
  width: 100;
}

.about {
  margin: 0 0 30px;
}

.info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ancho {
  width: 100%;
}

.titulo {
  font-family: 'Ruda', sans-serif!Important;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #124188;
}

.information {
  margin-left: 15px;
  margin-right: 10px;
  width: 98%;
}