.modebar-container, .dash-debug-menu {
  visibility: hidden;
}

.dash-graph {
  margin-top: -60px;
  margin-bottom: -25px;
}

.main-svg {
  background: none!Important;
}

.svg-container {
  font-family: 'Ruda', sans-serif;
}

.draglayer {
  margin-right: -30px;
}

.texto {
  text-align: justify;
}

.icono {
  height: 90px;
  float: left;
}

.tarjetas {
  height: 120px;
  padding: 10px;
  border: 5px solid #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.etiqueta {
  font-family: 'Ruda', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: -15px;
  float: left;
  margin-left: 45px;
}

.descripcion {
  text-align: center;
  font-size: 15px;
}

.cell-table {
  margin-top: 40px;
  margin-left: 15px;
}


.blue {
  color:#fff;
  background-color: #18418c;
}

.green {
  color:#fff;
  background-color: #0e6d51;
}

.red {
  color:#fff;
  background-color: #d43710;
}

.grey {
  color:#fff;
  background-color: #31383d;
}

.tablas {
  font-family: 'Ruda', sans-serif!Important;
  text-align: center;
  font-size: 15px;
}